.faceitFriendsLabel {
    width: 20%;
    padding: 0px 5px 5px 0;
    display: inline-block;
  }

.faceitFriendsInput {
    width: 50%;
    margin-right: 5px;
  }

.faceitFriendsDefaultButton {
    width: 10%
}

.faceitFriendsDeleteButton {
  width: 10%;
}

.faceitFriendsSubmitButton {
    width: 100%;
    padding: 3px;
    cursor: pointer;
}
